@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.TextButton {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    transition: color 0.5s ease;
    color: var(--dark-grayish-blue);


    &:hover {
        color: var(--very-dark-grayish-blue);
    }
}

.active {
    color: var(--primary);
}